@import '../../scss/variables';
@import '../../scss/mixins';


.list-item {
    width: 29.5rem;
    height: 5.9rem;
    border: 1px solid $yellow;
    border-radius: 4px;
    display: flex;
    flex-flow: row nowrap;

    &__url-text {
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 400;
        @include mainFont;
        color: $yellow;
        border-right: 1px solid $yellow;
        width: 23.5rem;
        height: 100%;
        @include center;
    }

    &__eye-section {
        @include center;
        width: 5.97rem;
    }

    &--selected {
        border-color: $white;
        color: $white;

    }
}