@import '../../scss/variables';
@import '../../scss/mixins';


.container {
    position: relative;
    width: 31.1rem;

    &__copy-icon {
        position: absolute;
        right: 1.5rem;
        top: 3.65rem;
        z-index: 2;
        cursor: pointer;
    }
}

.input-sign {
    width: fit-content;
    height: 2.2rem;
    padding: 0 .8rem;
    background-color: $white;
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mainFont;

}

.input-sign-text {
    color: $blue;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: .2rem;
    margin: 0;
}

.input-text-field {
    width: calc(100% - 3.1rem);
    height: 5.5rem;
    padding: 0 1.5rem;
    background-color: $blue;
    color: $white;
    font-size: 1.9rem;
    font-weight: 400;
    border: 1px $white solid;
    outline: none;
    border-radius: 0px 4px 4px 4px;
    letter-spacing: .2rem;
    @include secondaryFont;

}


